.mujer-deportista-page {
  text-align: center;
  padding: 20px;
}

.logo {
  max-width: 1000px; /* ajusta el ancho según tus necesidades */
  margin-bottom: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.product {
  cursor: pointer;
}

.product img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
}

.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
